express==4.17.1
mongoose==5.11.15
pg==8.5.1
nodemailer==6.4.11
bcryptjs==2.4.3
jsonwebtoken==8.5.1
socket.io==3.1.1
axios==0.21.1
react==17.0.1
react-dom==17.0.1
react-router-dom==5.2.0
react-scripts==4.0.1
redux==4.0.5
redux-thunk==2.3.0
vue==2.6.12
vue-router==3.4.9
vuex==3.6.0
vuetify==2.4.0
material-ui/core==4.11.3
ant-design/icons==4.2.2
primereact==6.0.0
quasar-framework==1.15.10
bootstrap==4.5.3
tailwindcss==2.0.2
font-awesome==5.15.1
material-icons==0.3.1
feather-icons==4.28.0
metabase==0.37.4
powerbi-client==2.13.0
jsonwebtoken==8.5.1
dotenv==8.2.0
cors==2.8.5
helmet==4.4.1
morgan==1.10.0
compression==1.7.4
express-validator==6.6.1
nodemon==2.0.7
eslint==7.14.0
eslint-plugin-react==7.21.5
eslint-plugin-vue==7.1.0
eslint-config-airbnb==18.2.1
eslint-plugin-import==2.22.1
eslint-plugin-jsx-a11y==6.4.1
eslint-plugin-react-hooks==4.2.0
eslint-plugin-node==11.1.0
eslint-plugin-promise==4.2.1
eslint-plugin-standard==4.0.1
eslint-plugin-html==6.1.0
concurrently==5.3.0